:root {
  --ff-sans: 'Josefin Sans', sans-serif;
  --base-font: 1.5rem;
  --fw-normal: 400;
  --fw-bold: 700;
  --img-bg: url('./bg-desktop-dark.jpg');
  --light-gray: hsl(0, 0%, 98%);
  --dark-blue: hsl(235, 21%, 11%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --dark-desaturated-blue: hsl(235, 24%, 19%);
  --bright-blue: hsl(220, 98%, 61%);
  --clr-box-shadow: hsl(0, 0%, 0%, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  position: relative;
}

body {
  font: var(--fw-normal) var(--base-font) var(--ff-sans);
  background: var(--dark-blue) var(--img-bg) no-repeat 0% 0% / 100vw 30rem;
  padding-top: 8rem;
  width: min(85%, 54rem);
  margin: auto;
}

body.light {
  --img-bg: url('./bg-desktop-light.jpg');
  background-color: var(--light-gray);
  color: var(--dark-blue);
}

html,
body {
  min-height: 100%;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}

input,
button {
  font: inherit;
  border: 0;
  background: transparent;
}

input:focus,
button:focus {
  outline: 0;
}

button {
  display: flex;
  user-select: none;
}
