

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  position: relative;
}

body {
  font: var(--fw-normal) var(--base-font) var(--ff-sans);
  background: var(--dark-blue) var(--img-bg) no-repeat 0% 0% / 100vw 30rem;
  padding-top: 8rem;
  width: min(85%, 54rem);
  margin: auto;
}

body.light {
  --img-bg: url('./bg-desktop-light.jpg');
  background-color: var(--light-gray);
  color: var(--dark-blue);
}

html,
body {
  min-height: 100%;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}

input,
button {
  font: inherit;
  border: 0;
  background: transparent;
}

input:focus,
button:focus {
  outline: 0;
}

button {
  display: flex;
  user-select: none;
}
