@import './base.css';
:root {
  --ff-sans: 'Josefin Sans', sans-serif;
  --base-font: 1.6rem;
  --fw-normal: 400;
  --fw-bold: 700;
  --img-bg: url('./bg-desktop-dark.jpg');
  --light-gray: hsl(0, 0%, 98%);
  --dark-blue: hsl(235, 21%, 11%);
  --dark-desaturated-blue: hsl(235, 24%, 19%);
  --bright-blue: hsl(220, 98%, 61%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --clr-gb-3: hsl(234, 11%, 52%);
  --clr-gb-4: hsl(237, 12%, 36%);
  --clr-gb-5: hsl(233, 14%, 35%);
  --clr-gb-6: hsl(235, 19%, 24%);
  --clr-box-shadow: hsl(0, 0%, 0%, 0.1);
}

.card {
  background-color: var(--dark-desaturated-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem 2rem;
  gap: 2rem;
}

header.card {
  background: transparent;
  padding: 0;
  align-items: flex-start;
}

header.card h1 {
  color: var(--light-gray);
  letter-spacing: 1.3rem;
  font-weight: 700;
  font-size: calc(var(--base-font) * 2);
}

.add {
  margin: 4rem 0 2.5rem 0;
  border-radius: 0.5rem;
}

.add .cb-container #add-btn {
  color: var(--light-grayish-blue);
  font-size: var(--base-font);
  transition: color 0.3s ease;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.add .cb-container {
  transition: background 0.3s ease;
}

.add .cb-container:hover {
  background: var(--bright-blue);
}

.add .cb-container:active {
  transform: scale(0.95);
}

.add .cb-container:hover #add-btn {
  color: var(--light-gray);
}
.add .txt-container {
  flex: 1;
}

.add .txt-container .txt-input {
  width: 100%;
  padding: 0.7rem 0;
  color: var(--light-grayish-blue);
}

.add .txt-container .txt-input::placeholder {
  color: var(--clr-gb-5);
  font-weight: var(--fw-normal);
}

.card .cb-container {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid var(--clr-gb-5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.card .cb-container .cb-input {
  opacity: 0;
  cursor: pointer;
}

.card .cb-container .check {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  border-radius: inherit;
}

.card .cb-container .cb-input:checked + .check {
  background: url('./icon-check.svg'),
    linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}

.todos .card:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: move;
}

.todos > * + * {
  border-top: 0.2rem solid var(--clr-gb-6);
  cursor: move;
}

.item {
  color: var(--light-grayish-blue);
}

.item:hover {
  color: var(--light-grayish-blue);
}

.clear {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.todos .card:hover .clear {
  opacity: 1;
}

.stat {
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: 0.2rem solid var(--clr-gb-6);
  font-size: calc(var(--base-font) - 0.3rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stat * {
  color: var(--clr-gb-4);
}

.stat .filter {
  display: flex;
  justify-content: space-between;
  font-weight: var(--fw-bold);
}

.stat .filter *:hover {
  color: var(--light-gray);
}

.stat .corner:last-child {
  justify-self: end;
}

.stat .corner button:hover {
  color: var(--light-gray);
}

footer {
  margin: 4rem 0;
  text-align: center;
  color: var(--clr-gb-5);
}

.on {
  color: var(--bright-blue);
}

@media (max-width: 599px) {
  .stat {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem 2rem;
  }
  .stat .filter {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: space-around;
  }
}
